@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');

body {
    display: flex;
    font-family: 'Cormorant SC', serif;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}


a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header, .hero {
    background-color: #1F2937;
}

/* this is header part */

.header {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.logo {
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
    padding-left: 20%;
}

.links {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    gap: 30px;
    /* eureka moment in terms of positioning */
    padding-right: 20%;
}

/* this is hero part */

.heromain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.heroleft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 400px;
    padding-left: 20%;
}

.herotext1 {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8
}

.herotext2 {
    font-size: 18px;
    color: #E5E7EB
}

/* really need to work this out */

.heroimg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20%;
}

img {
    width: 300px;
    height: 150px;
}